<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME PAGE</title>
</head>
<body>
    <h1>
        Welcome to Santika Premier Hotels
    </h1>
    <button>
        <a href="">Check Our Bookings</a>
    </button>
</body>
</html>