<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RSVP - Register New Bookings</title>
</head>
<body>
    <h1>
        RSVP First
    </h1>
    <form action="" method="POST">
        <label for="guest">
            Guest Identification
        </label>
        <br>
        <input type="guest" name="guest" id="guest" placeholder="Fill with Guest Name">
        <br>
        <label for="roomtype">
            Room Type
        </label>
        <br>
        <input type="roomtype" name="roomtype" id="roomtype" placeholder="Choose Type of Room">
        <br>
        <label for="duration">
            Duration of Stay
        </label>
        <br>
        <input type="duration" name="duration" id="duration" placeholder="Number of Nights Planned to Stay">
    </form>
</body>
</html>